{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Endpoints</title>
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymity" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center">API Endpoints</h1>
        <h5 class="text-center mt-3 mb-5">Berikut beberapa endpoint API yang tersedia di aplikasi ini</h5>

        <table class="table table-striped ">
            <thead class="table-dark">
                <tr>
                    <th>No</th>
                    <th>Endpoint</th>
                    <th>Description</th>
                    <th>Url</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Post</td>
                    <td>Menampilkan data postingan</td>
                    <td>/api/post/</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Post Detail</td>
                    <td>Menampilkan detail postingan</td>
                    <td>/api/post/int:pk/</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Category</td>
                    <td>Menampilkan data kategori</td>
                    <td>/api/category/</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Category Detail</td>
                    <td>Menampilkan detail kategori</td>
                    <td>/api/category/int:pk/</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Comment</td>
                    <td>Menampilkan data komentar</td>
                    <td>/api/comment/</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Comment Detail</td>
                    <td>Menampilkan detail komentar</td>
                    <td>/api/comment/int:pk/</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>